#lab-img-input {
  width: 0;
}

* {
  user-select: none !important;
}


.lab-styled-input {
  -webkit-appearance: none;
  height: 7px;
  background: #52525B;
  border-radius: 5px;
  background-repeat: no-repeat;
}

.lab-styled-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #FED05E;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

.lab-styled-input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.lab-color-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  block-size: 30px;
}

.lab-color-input::-webkit-color-swatch {
  border-radius: 5px;
  border: none;
}

.lab-color-input::-moz-color-swatch {
  border-radius: 15px;
  border: none;
}