.trash {
  font-size: 24px;
}

#background {
  background-color: indigo;
}

.background {
  padding: 100px;
}

.background:hover {
  background-color: red !important;
}

.background:after {
  background-color: red !important;
}

.link {
  color: red;
}